<div class="intro-body">
<div class="text-box">
<h1 class="intro-title">Why Do Scientists Care About Biodiversity?</h1>
<hr class="hr-line" />
<p class="intro-p">
Biodiversity is a critical characteristic of any biological community and provides many direct and indirect benefits to human society and human existence.  Environmental scientists often divide the tangible benefits of biodiversity into two main categories: those that directly benefit humans, and those that benefit the ecosystem that the diversity is housed in, and therefore humans indirectly.<br/><br/>
<%= link_to "VIDEO: Why is Biodiversity Important?", "https://youtu.be/HA3xNMJnFuo", {style: 'color:#d80015', class: "video", :target => '_blank'} %>
</p><br/>
<hr class="hr-line" />
<%= image_tag("Intro/intro-2a.jpg", :size => '500x340', class: "img") %>
</br><span class="caption"><%= "This image provides some of the reasons why biodiversity is important" %></span></br>

<%= link_to "What is Biodiveristy?", ones_path, :class => "intro-links" %>
<%= link_to "(Home)", intros_path, {style: 'color:#00af37;', class: "intro-links"} %>
<%= link_to "Direct Benefits of Biodiversity", threes_path, :class => "intro-links" %>
<%= link_to "Indirect Benefits of Biodiversity", fours_path, :class => "intro-links" %>
</div>
</div>
