<div class="intro-body">
<div class="text-box">
<h1 class="intro-title">Direct Benefits of Biodiversity</h1>
<hr class="hr-line" />
<p class="intro-p">
Much of the biodiversity on Earth benefits humanity directly as we harvest a great deal of products from it.  In developed countries, the majority of food proteins come from animals that are farmed, rather than harvested directly from biodiversity, but this is less true for wild caught fish and other seafood.  Over half of the medicines on sale at the pharmacy contain compounds either harvested directly from plants or synthesized by studying and copying the structure of chemicals inside living plants.  Finally, one of the most important benefits of biodiversity in the modern age may be the natural reservoir of genes that it represents.  When there is an outbreak of disease that decimates one of our crops, scientists often look to wild relatives of the farmed crop to find genes for resistance that they might implant into the crop’s genome.
</p><br/>
<hr class="hr-line" />
<%= image_tag("Intro/intro-3a.JPG", :size => '500x340', class: "img") %>
</br><span class="caption"><%= "An infinitesimal sample of butterfly and moth diversity" %></span></br>

<%= link_to "What is Biodiveristy?", ones_path, :class => "intro-links" %>
<%= link_to "Why Do Scientists Care About Biodiversity?", twos_path, :class => "intro-links" %>
<%= link_to "(Home)", intros_path, {style: 'color:#00af37;', class: "intro-links"} %>
<%= link_to "Indirect Benefits of Biodiversity", fours_path, :class => "intro-links" %>
</div>
</div>
