<div class="intro-body">
<div class="text-box">
<h1 class="intro-title">Indirect Benefits of Biodiversity</h1>
<hr class="hr-line" />
<p class="intro-p">
Another benefit of biodiversity is that drives the functioning of ecosystems upon which life on Earth depends.  All of the activities of all of the species in an ecosystem make it work---that is, they promote its stability and keep its essential processes going.  All of the roots of the plants in an area keep the soil from eroding away, for one example.  The activities of species of animals, fungi, bacteria, and protists break down organic material and recycle nutrients in the soil, for another.  The bodies of plants convert solar energy into organic molecules, and help to filter pollutants out of the air and the soil.
<br/><br/>
While this second class of benefits does not provide humanity with tangible products that we use, our very existence depends on it!  We can farm, because aspects of biodiversity ensure that the soil is full of nutrients and that insects and other pollinators will help plants produce fruit.  We can fish, because aspects of biodiversity ensure that fish and shellfish populations are large enough and stable enough for us to dependably harvest from.  We can build and develop in areas of the Earth, because aspects of biodiversity help moderate the temperature, hold and clean water, control flooding and erosion, and filter pollutants from the air.  These often overlooked, but crucially important, indirect benefits of biodiversity are sometimes called ecosystem services.  In 1997 a leading environmental scientist named Robert Constanza conservatively estimated the global value of ecosystem services at $44 trillion dollars (adjusted for inflation)!
</p><br/>
<hr class="hr-line" />
<%= image_tag("Intro/intro-4a.jpg", :size => '500x340', class: "img") %>
</br><span class="caption"><%= "Biodiversity of a coral reef community" %></span></br>

<%= link_to "What is Biodiveristy?", ones_path, :class => "intro-links" %>
<%= link_to "Why Do Scientists Care About Biodiversity?", twos_path, :class => "intro-links" %>
<%= link_to "Direct Benefits of Biodiversity", threes_path, :class => "intro-links" %>
<%= link_to "(Home)", intros_path, {style: 'color:#00af37;', class: "intro-links"} %>
</div>
</div>
