<div class="text-box">
<h1 class="intro-title">What is Biodiversity?</h1>
<hr class="hr-line" />
<p class="intro-p">
The term “biodiversity” describes the variation found within life on Planet Earth.  The word itself is quite general, can be thought of on various levels within the biosphere.  For example, sometimes scientists consider biodiversity quite broadly and consider the variation in major habitat types in a region on the planet.  This concept is sometimes referred to as ecosystem diversity.
<br/><br/>
Scientists can also consider biodiversity on a very small scale, by examining the genetic diversity that is found within one species of organisms in a particular area.  African cheetahs alive today, for example, possess low genetic diversity due to overhunting by humans in the recent past.  On the other hand, a genus of coral (Orbicella), contains individuals that have many different alleles for many different genes despite being restricted almost exclusively to the Caribbean Sea and possess a very high genetic diversity.
<br/><br/>
Most commonly however, the term biodiversity is used to describe an intermediate level of variation called species diversity, which is a measure of how many different species (or major groups of species) are found in a particular area.  When a particular nature preserve or region of the world is described as being very diverse in the media, it is typically this type of variation to which they refer.
</p><br/>
<hr class="hr-line" />
<%= image_tag("Intro/intro-1a.JPG", :size => '500x340', class: "img") %>
</br><span class="caption"><%= "Definition of Biodiversity according to the Royal Ontario Museum of Canada" %></span></br>
<%= image_tag("Intro/intro-1b.JPG", :size => '500x340', class: "img-flip") %>
</br><span class="caption"><%= "Evolutionary basis for the diversity of life according to the Royal Ontario Museum of Canada" %></span></br>

<%= link_to "(Home)", intros_path, {style: 'color:#00af37;', class: "intro-links"} %>
<%= link_to "Why Do Scientists Care About Biodiversity?", twos_path, :class => "intro-links" %>
<%= link_to "Direct Benefits of Biodiversity", threes_path, :class => "intro-links" %>
<%= link_to "Indirect Benefits of Biodiversity", fours_path, :class => "intro-links" %>
</div>
