<img class= "excavata-clado" src="<%= asset_path( 'excavata-clado.png' ) %>"/>
<ul>
  <% @excels.each do |excel| %>
    <li id="clado-list" class='<%= excel.undername.downcase %>' ><%= link_to excel.undername, excavatum_path(excel) %></li>
  <% end %>
</ul>
<div class="clado-info"><p class="tree-info">
Named for the “excavated” groove along the sides of the cells of some members of this group, this clade of organisms includes the diplomonads and parabasalids, which are characterized as having greatly reduced mitochondria, as well as the euglenozoans which include several well-studied organisms that are bound to become familiar to most biology students.
</p>
<%= image_tag("Excavata/Excavata-1.jpg", size: '300x240', class: "img") %>
</br><span class="caption">This member of the excavata clade, Trypanosoma, causes sleeping sickness in humans. The disease is transmitted via a bite
from the African tsetse fly that serves as the vector (carrier) organism responsible for the transmission of this disease.</span></br>

<%= image_tag("Excavata/Excavata-2.jpg", size: '300x240', class: "img") %>
</br><span class="caption">Photomicrograph showing living Euglena at
approximately 200X.</span></br>
</div>
<%= link_to 'Back', cladograms_path %>
