<div class="shower">
<h1 class="name-header"><%= @excel.undername %></h1>
<div class="text-loadout">
  <%= link_to 'Back', :back %>
<p class="header">General Characteristics</p>
<span class="description"><%= @excel.description %></span>
<p class="header">Ecological Interactions and Human Applications</p>
<span class="applications"><%= @excel.applications %></span>
<hr class="line">
<% if @excel.image_one.present? %>
  <%= image_tag @excel.image_one, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @excel.caption_one %></span></br>
<% end %>
<% if @excel.image_two.present? %>
  <%= image_tag @excel.image_two, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @excel.caption_two %></span></br>
<% end %>
<% if @excel.image_three.present? %>
  <%= image_tag @excel.image_three, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @excel.caption_three %></span></br>
<% end %>
<% if @excel.image_four.present? %>
  <%= image_tag @excel.image_four, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @excel.caption_four %></span></br>
<% end %>
</div>
</div>
