<img class= "unikonta-clado" src="<%= asset_path( 'unikonta-clado.png' ) %>"/>
<ul>
  <% @unites.each do |unite| %>
    <li id="clado-list" class='<%= unite.undername.downcase %>' ><%= link_to unite.undername, unikontum_path(unite) %></li>
  <% end %>
</ul>
<p class="tree-info">
Named for the “excavated” groove along the sides of the cells of some members of this group, this clade of organisms includes the diplomonads and parabasalids, which are characterized as having greatly reduced mitochondria, as well as the euglenozoans which include several well-studied organisms that are bound to become familiar to most biology students.
</p>
<%= image_tag("Unikonta/Uniko-1.jpg", size: '200x200', class: "img") %>
<span class="caption">A miniscule sample of biodiversity within Unikonta.</span>

<%= image_tag("Unikonta/Uniko-2.jpg", size: '200x200', class: "img") %>
<span class="caption">Yellow Morel, Morchella esculenta.</span>

<%= image_tag("Unikonta/Uniko-3.jpg", size: '200x200', class: "img") %>
<span class="caption">Yellow tube sponge, Aplysina fistularis</span></br>
<%= link_to 'Back', cladograms_path %>
