<img class= "unikonta-clado" src="<%= asset_path( 'unikonta-clado.png' ) %>"/>
<ul>
  <% @unites.each do |unite| %>
    <li id="clado-list" class='<%= unite.undername.downcase %>' ><%= link_to unite.undername, unikontum_path(unite) %></li>
  <% end %>
</ul>
<div class="clado-info"><p class="tree-info">
  The unikonts include amoeboid protists and the evolutionarily-related fungi and animal
  kingdoms, as well as those protists most closely related to these two kingdoms (i.e., the
  nucleariids and the choanoflagellates respectively).
</p>
<%= image_tag("Unikonta/Uniko-1.jpg", size: '300x240', class: "img") %>
</br><span class="caption">A miniscule sample of biodiversity within Unikonta.</span></br>

<%= image_tag("Unikonta/Uniko-2.jpg", size: '300x240', class: "img") %>
</br><span class="caption">Yellow Morel, Morchella esculenta.</span></br>

<%= image_tag("Unikonta/Uniko-3.jpg", size: '300x240', class: "img") %>
</br><span class="caption">Yellow tube sponge, Aplysina fistularis</span></br>
</div>
<span class="back"><%= link_to 'Back', cladograms_path %></span>
