<div class="shower">
<h1 class="name-header"><%= @unite.undername.capitalize %></h1>
<div class="text-loadout">
  <%= link_to 'Back', :back %>
<p class="header">General Characteristics</p>
<span class="description"><%= @unite.description %></span>
<p class="header">Ecological Interactions and Human Applications</p>
<span class="applications"><%= @unite.applications %></span>

</br></br>
<%= image_tag @unite.image_one, :size => '200x200', class: "img-one"%>
<span class="caption"><%= @unite.caption_one %></span>

<%= image_tag @unite.image_one, :size => '200x200', class: "img-one"%>
<span class="caption"><%= @unite.caption_one %></span>

<%= image_tag @unite.image_one, :size => '200x200', class: "img-one"%>
<span class="caption"><%= @unite.caption_one %></span>
</br>
</div>
</div>
