<div class="shower">
<h1 class="name-header"><%= @stare.undername %></h1>
<div class="text-loadout">
  <%= link_to 'Back', :back %>
<p class="header">General Characteristics</p>
<span class="description"><%= @stare.description %></span>
<%if @stare.applications != "-"%>
<p class="header">Ecological Interactions and Human Applications</p>
<span class="applications"><%= @stare.applications %></span>
<%end%>
<hr class="line">
<% if @stare.image_one.present? %>
  <%= image_tag @stare.image_one, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @stare.caption_one %></span></br>
<% end %>
<% if @stare.image_two.present? %>
  <%= image_tag @stare.image_two, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @stare.caption_two %></span></br>
<% end %>
<% if @stare.image_three.present? %>
  <%= image_tag @stare.image_three, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @stare.caption_three %></span></br>
<% end %>
<% if @stare.image_four.present? %>
  <%= image_tag @stare.image_four, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @stare.caption_four %></span></br>
<% end %>
</div>
</div>
