<div class="shower">
<h1 class="name-header"><%= @backer.undername %></h1>
<div class="text-loadout">
<p class="header">General Characteristics</p>
<span class="description"><%= @backer.description %></span>
<%if @backer.applications != "-"%>
<p class="header">Ecological Interactions and Human Applications</p>
<span class="applications"><%= @backer.applications %></span>
<%end%>
<hr class="line">
<% if @backer.image_one.present? %>
  <%= image_tag @backer.image_one, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @backer.caption_one %></span></br>
<% end %>
<% if @backer.image_two.present? %>
  <%= image_tag @backer.image_two, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @backer.caption_two %></span></br>
<% end %>
<% if @backer.image_three.present? %>
  <%= image_tag @backer.image_three, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @backer.caption_three %></span></br>
<% end %>
<% if @backer.image_four.present? %>
  <%= image_tag @backer.image_four, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @backer.caption_four %></span></br>
<% end %>
</div>
</div>
