<div class="shower">
<h1 class="name-header"><%= @arch.undername.capitalize %></h1>
<div class="text-loadout">
  <%= link_to 'Back', :back %>
<p class="header">General Characteristics</p>
<span class="description"><%= @arch.description %></span>
<p class="header">Ecological Interactions and Human Applications</p>
<span class="applications"><%= @arch.applications %></span>

</br></br>
<%= image_tag @arch.image_one, :size => '200x200', class: "img-one"%>
<span class="caption"><%= @arch.caption_one %></span>

<%= image_tag @arch.image_one, :size => '200x200', class: "img-one"%>
<span class="caption"><%= @arch.caption_one %></span>

<%= image_tag @arch.image_one, :size => '200x200', class: "img-one"%>
<span class="caption"><%= @arch.caption_one %></span>
</br>
</div>
</div>
