<div class="shower">
<h1 class="name-header"><%= @arch.undername %></h1>
<div class="text-loadout">
<p class="header">General Characteristics</p>
<span class="description"><%= @arch.description %></span>
<%if @arch.applications != "-"%>
<p class="header">Ecological Interactions and Human Applications</p>
<span class="applications"><%= @arch.applications %></span>
<%end%>
<hr class="line">
<% if @arch.image_one.present? %>
  <%= image_tag @arch.image_one, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @arch.caption_one %></span></br>
<% end %>
<% if @arch.image_two.present? %>
  <%= image_tag @arch.image_two, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @arch.caption_two %></span></br>
<% end %>
<% if @arch.image_three.present? %>
  <%= image_tag @arch.image_three, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @arch.caption_three %></span></br>
<% end %>
<% if @arch.image_four.present? %>
  <%= image_tag @arch.image_four, :size => '300x240', class: "img"%>
  </br><span class="caption"><%= @arch.caption_four %></span></br>
<% end %>
</div>
</div>
